.section {
  border: 1px solid rgb(176, 176, 176);
  padding: 15px 30px;
  max-width: 650px;
  min-height: calc(-70px + 100vh);
  margin: 0px auto;
  box-shadow: rgba(120, 120, 120, 0.75) 0px 0px 10px 2px;
  border-radius: 5px;
}
.sectionWrapper {
  max-width: 650px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  min-height: 85vh;
}
.title {
  font-size: 55px;
  text-align: center;
}

.text {
  font-size: 20px;
  text-align: center;
}
